{% extends 'index.html' %}

{% block body %}
    
    {% if key_info.name %}
        <h1>{{ key_info.name }}</h1>
    {% else %}
        <h1>Asymmetric Cryptography</h1>
    {% endif %}

    {% if key_info %}
        <div class='generated-keys'>
            <textarea cols=70 rows=30 placeholder="private key..." readonly>{{ key_info.private_key|safe }}</textarea>
            <textarea cols=70 rows=30 placeholder="public key..." readonly>{{ key_info.public_key|safe }}</textarea>
        </div>
    {% else %}
        <div class='generated-keys'>
            <textarea cols=70 rows=30 placeholder="private key..." readonly></textarea>
            <textarea cols=70 rows=30 placeholder="public key..." readonly></textarea>
        </div>
    {% endif %}


    <form method='post' action='{% url "core:generate_key" %}'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <input type='text' name='name' id='name' placeholder='Key name ...' required>
        <button type='submit'>generate new key</button>
    </form>


    <div>
        <ul style="display: inline-block;">
            {% for key in key_queryset %}
                <li>
                    <div>
                        <a href='{% url "core:home" key.id %}'>{{ key.name }}</a> 
                        {% if key.private_key_file %}
                            <a href='{{ key.publicKeyUrl }}'>download private key</a>
                        {% endif %}
                        {% if key.public_key_file %}
                            <a href='{{ key.privateKeyUrl }}'>download public key</a>
                        {% endif %}
                        <p>{{ key.updated_at|date:'D d M Y' }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    

    <br>
    <br>
    <br>
    <br>

    <a href="{% url 'core:encrypt_decrypt' %}">encrypt/decrypt</a>
       
{% endblock  %}