{% extends 'index.html' %}

{% block body %}
    <div class="container-fluid py-2"  style="background-color: lightgray;">
        <form action="" class="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-row">
                <div class="col-12 col-sm-12 col-md-7">
                    <fieldset>
                        <legend>Input text</legend>
                        <div class="form-row">
                            <div class="col-12" style="margin-top:30px">
                                <fieldset>
                                    <legend>Generate</legend>
                                    <div class=" form-row" style="margin-top:30px">
                                        <div class="form-group col-12">
                                            {{ form.private_key }}
                                             {{ form.private_key.errors }}
                                         
                                        </div>
                                        <div class="form-group col-12">
                                            {{ form.public_key }}
                                             {{ form.public_key.errors }}
                                           
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-12">
                                <fieldset>
                                    <legend>My text</legend>
                                    <div class="form-row" style="margin-top:30px">
                                        <div class="form-group col-12 col-sm-9 col-md-9 col-lg-10">
                                            {{ form.message }}
                                            {{ form.message.error }}
                                           
                                        </div>
                                        <div class="form-group col-12 col-sm-3 col-md-3 col-lg-2">
                                            <div class="d-flex flex-column justify-content-end .justify-content-md-center">
                                                <button class="btn btn-sm" style="background-color: #9DAAF2; color:#fff;" type="submit">Enc/Dec</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-12 col-sm-12 col-md-5 mt-2 mt-md-0">
                    <fieldset class="h-100">
                        <legend>Output text</legend>
                        <div class="row" style="margin-top:30px">
                            <div class="form-group col-12">
                                <textarea class="form-control" name="result_text" id="result_text" cols="30" rows="21" 
                                    placeholder="The results will be displayed here." readonly>{{ result_message }}</textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>




    <a href="{% url 'core:home' %}">home</a>

{% endblock  %}